<script
    src="https://cdn.jsdelivr.net/gh/aframevr/aframe@1c2407b26c61958baa93967b5412487cd94b290b/dist/aframe-master.min.js"></script>
<script src="https://cdn.jsdelivr.net/gh/donmccurdy/aframe-extras@v6.1.1/dist/aframe-extras.min.js"></script>
<script src="https://raw.githack.com/AR-js-org/AR.js/master/aframe/build/aframe-ar-nft.js"></script>

<style>
    .arjs-loader {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(0, 0, 0, 0.8);
        z-index: 9999;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .arjs-loader div {
        text-align: center;
        font-size: 1.25em;
        color: white;
    }
</style>

<body style="margin : 0px; overflow: hidden;">
    <!-- minimal loader shown until image descriptors are loaded -->
    <div class="arjs-loader">
        <div>Loading, please wait...</div>
    </div>
    <a-scene vr-mode-ui="enabled: false;" renderer="logarithmicDepthBuffer: true;" embedded
        arjs="trackingMethod: best; sourceType: webcam;debugUIEnabled: false;">
        <!-- we use cors proxy to avoid cross-origin problems -->
        <a-nft type="nft" url="https://sarah_ali.gitlab.io/drill-the-skill/nft/1H" smooth="true" smoothCount="10" smoothTolerance=".01" smoothThreshold="5">
            <a-entity gltf-model="https://sarah_ali.gitlab.io/drill-the-skill/glb/door.glb" scale="8 8 8" position="15 0 0" rotation="-90 0 0" animation-mixer>
            </a-entity>
        </a-nft>
        <a-entity camera></a-entity>
    </a-scene>
</body>
